/* #region COUNTER */

#count {
  display: inline-block;
  font-weight: 800;
  margin: 0;
}

/* #endregion */

/* #region BUTTON */

button {
  margin-right: 1rem;
}

/* #endregion */

/* #region LOGO */

#logo {
  width: 200px;
  height: 200px;
  background: url('../assets/holberton-logo.jpg');
  background-size: 200px 200px;
}

/* #endregion */
